.footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
.footer__copyright {
  position: absolute;
  width: 318px;
  height: 18px;
  left: 200px;
  top: 1139px;
  padding-bottom: 60px;
}
