.page {
  background-color: black;
  color: white;
  margin-right: 200px;
  margin-right: 200px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding-top: 50px;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Inter, Arial, sans-serif;
}
}
